

<!-- inside app/views/welcome/index.html.erb -->
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">René Emmaneel</h1>
        <p class="lead text-muted">Collection of my work, very cool!</p>
        <p>
          <a href="<%= new_article_path %>" class="btn btn-primary my-2">New article</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

      <% @articles.each do |article| %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <%= image_tag("thumbnail.svg", class: "card-img-top", alt: "Thumbnail cap") %>
            <div class="card-body">
              <p class="card-text"><b><%= article.title %> </b><%= article.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="<%= article_path(article) %>" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      </div>
    </div>
  </div>
</main>
